header {
  padding: 13px;
  text-align: center;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 60px;
  gap: 30px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  
  h1 {
    margin: 0;
    font-size: 34px;
  }
  div {
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
  }
}

main {
  display: flex;
  place-items: center;
  gap: 21px;
  flex-wrap: wrap;
  padding: 10px 0 20px;
}
