@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --pico-font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}