.Player {
    margin: auto;
    width: 320px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 21px;
    box-sizing: border-box;

    label {
        color: #333;
    }

    input {
        height: 56px;
    }
}
