.Player {
    margin: auto;
    width: 377px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 21px;
    box-sizing: border-box;

    input {
        height: 56px;
    }
}
