body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

header {
    text-align: center;
    width: 100vw;
    height: 50px;
    font-size: 42px;
}

main {
    display: flex;
    align-items: center;
    min-height: 500px;
    justify-content: space-around;
    width: 100vw;
}

.card {
    border: 1px solid #444;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.card img {
    width: 120px;
}

a {
    text-decoration: none;
    color: unset;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

#tictactoe-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 10px;
    background-color: black;
}
