.Games {
  text-align: center;
  width: 100%;
}

.GamesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #333;
}

.card {
  background: white;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    padding: 34px 8px 21px;
    width: 120px;
  }

  p {
    border-top: 1px solid #ededed;
    box-sizing: border-box;
    padding: 8px;
    margin: 21px 0 0;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    width: 100%;
  }
}
